<style>
    body {
      margin: 5em; 
      font-family: sans-serif;
    }
    header {
      text-align: right;
    }
    .forms {
      width: 100%;
    }

    legend {
      font-weight: bold;
      font-size: 1em;
    }
    input {
      margin-right: 2em;
    }
    #newWorkOut {
      width: 75px;
    }
    #lbs {
      width: 10px;
    }

    #exercise {
      width: 200px;
    }

    #reps {
      width: 50px;
    }
    #weight {
      width: 50px;
    }

    .note {
      font-size: 0.75em;
      font-style: italic;
    }
</style

<form action="/" method="post">
  <fieldset>
    <legend>Edit Workout</legend>
    <input type="hidden" name="id" id="id" value="{{this.id}}">

    <label for="name" id="exercise">Exercise Name:</label>
    <input type="text" name="name" id="name" value="{{this.name}}">
    
    <label for="reps">Repetitions:</label>
    <input type="number" name="reps" id="reps" value="{{this.reps}}"> 

    <label for="weight">Weight:</label>
    <input type="number" name="weight" id="weight" value="{{this.weight}}"> 

    <label for="date">Date:</label>
    <input type="text" name="date" id="date" value="{{this.date}}">

    <input type="radio" name="unit" id="lbs" value="lbs" {{#if this.lbs}}checked="checked"{{/if}}/>Pounds
    <input type="radio" name="unit" id="lbs" value="kilo" {{#if !this.lbs}}checked="checked"{{/if}}/>Kilograms 

    <input type="submit" id="Update" name="Update" value="Update">
  </fieldset>
</form>

